<a href="https://colab.research.google.com/github/iqbalhanif/NN-with-Keras/blob/master/heart_desease_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Get Data
!wget https://raw.githubusercontent.com/trojrobert/Classification-of-heart-disease-uci-data-/master/heart.csv

--2020-09-20 05:08:27--  https://raw.githubusercontent.com/trojrobert/Classification-of-heart-disease-uci-data-/master/heart.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11024 (11K) [text/plain]
Saving to: ‘heart.csv’

heart.csv           100%[===================>]  10.77K  --.-KB/s    in 0s

2020-09-20 05:08:27 (78.0 MB/s) - ‘heart.csv’ saved [11024/11024]

In [6]:
import pandas as pd

df = pd.read_csv("heart.csv")
df.head(4)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1

[4 rows x 14 columns]

In [7]:
df2 = df[df['age'] > 50]
df3 = df[(df['age'] > 50)&(df['chol']>200)]
df3
#print("Length Ori: "+ str(len(df)))
#print("Length Filter: "+ str(len(df2)))

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
6     56    0   1       140   294    0  ...      0      1.3      1   0     2       1
10    54    1   0       140   239    0  ...      0      1.2      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
291   58    1   0       114   318    0  ...      0      4.4      0   3     1       0
292   58    0   0       170   225    1  ...      1      2.8      1   2     1       0
293   67    1   2       152   212    0  ...      0      0.8      1   0     3       0
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[181 rows x 14 columns]

In [8]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, 0:13]
y = df.iloc[:, 13]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
print("jml xtrain = "+str(len(X_train)))
print("jml xtest = "+str(len(X_test)))
print("jml ytrain = "+str(len(y_train)))
print("jml ytest = "+str(len(y_test)))

jml xtrain = 212
jml xtest = 91
jml ytrain = 212
jml ytest = 91

In [9]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(12, input_dim=13, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam')
model.fit(X_train, y_train, epochs=300, batch_size=10, verbose=0)

In [10]:
from sklearn.metrics import classification_report, accuracy_score
y_pred_model = model.predict_classes(X_test)
print(classification_report(y_pred_model, y_test))
print("Akurasi: "+ str(accuracy_score(y_pred_model, y_test)))

WARNING:tensorflow:From <ipython-input-10-9799a9ba16b5>:2: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
              precision    recall  f1-score   support

           0       0.84      0.64      0.73        56
           1       0.58      0.80      0.67        35

    accuracy                           0.70        91
   macro avg       0.71      0.72      0.70        91
weighted avg       0.74      0.70      0.71        91

Akurasi: 0.7032967032967034

In [11]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict_classes(X_test)
print(confusion_matrix(y_pred, y_test))

[[36 20]
 [ 7 28]]